*{
    margin: 0;
    padding: 0%;
}
 body{
    font-family: 'Kanit', sans-serif;
 }

.cabeçalho {
    background-color: #2758c2;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.Cabeçalho-img{
    width: 8%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 17px;
}

.escola-img{
    width: 30%;
}

.escola{
    background-image: linear-gradient(#2758c2, #121213);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 0 ;
}

.escola-div{
    width: 35%;
}

.escola-titulo{
    padding: 15px 0;
}

.estudante-imagem{
    width: 125px;

}

.estudante{
    text-align: center;
}

.estudante-titulo {
    text-align: center;
    padding: 50px;
}

.thais-img{
    width: 90%;
}

.pagina-thais{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% ;
    padding-top: 10%;
}
